
.myButton {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #50c745), color-stop(1, #4289cc));
    background:-moz-linear-gradient(top, #50c745 5%, #4289cc 100%);
    background:-webkit-linear-gradient(top, #50c745 5%, #4289cc 100%);
    background:-o-linear-gradient(top, #50c745 5%, #4289cc 100%);
    background:-ms-linear-gradient(top, #50c745 5%, #4289cc 100%);
    background:linear-gradient(to bottom, #50c745 5%, #4289cc 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#50c745', endColorstr='#4289cc',GradientType=0);
    background-color:#50c745;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #46803d;
    width: 750px;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4289cc), color-stop(1, #50c745));
    background:-moz-linear-gradient(top, #4289cc 5%, #50c745 100%);
    background:-webkit-linear-gradient(top, #4289cc 5%, #50c745 100%);
    background:-o-linear-gradient(top, #4289cc 5%, #50c745 100%);
    background:-ms-linear-gradient(top, #4289cc 5%, #50c745 100%);
    background:linear-gradient(to bottom, #4289cc 5%, #50c745 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4289cc', endColorstr='#50c745',GradientType=0);
    background-color:#4289cc;
}
.myButton:active {
    position:relative;
    top:1px;
}